/* SELECT */
.select {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin: 40px 0 20px;
  border-radius: 10px;
  border: 2px solid #0d3b66;
}

/* CALENDÁRIO */
.calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
.dia {
  padding: 8px;
  min-height: 60px;
  font-size: 14px;
}
.dia.disponivel {
  background: #3da5d9;
  color: white;
}

.dia-info {
  margin-top: 8px;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.3;
}