<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Painel de Senhas</title>
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/painel/painel.css">
</head>

<body class="painel-body">

<div class="painel-container">

  <h1>Painel de Atendimento</h1>

  <div class="painel-atual">
    <p>Senha Atual</p>
    <div id="senhaAtual" class="senha-display">---</div>
  </div>

  <div class="painel-historico">
    <h2>Últimas Chamadas</h2>
    <ul id="historico"></ul>
  </div>

  <audio id="somChamada" src="../../audio/pwlpl-countdown-beep-377323.mp3"></audio>
</div>

<script src="../../js/painel/painel.js"></script>

</body>
</html>